# javascript ignores
dist/
node_modules/

# yarn ignores
yarn-error.log

# ide ignores
.idea/

# Laoban ignores
.cache/
.session/
.log
.status
.profile
.version.test.txt
.package.details.test.json
.laoban.test.json
